/* Свойство для контроля переполнения потока.
Включать для нахождения элементов, которые выходят за ширину страницы
если появляется горизонтальная прокрутка на странице
*/
/* * {
  outline: solid 1px red;
} */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
*:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  /*плавная прокрутка по якорям*/
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/*Обнуление стилей*/
body {
  line-height: 1;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

img {
  vertical-align: top;
}

input,
textarea {
  font-family: inherit;
  padding: 0;
}

input:-internal-autofill-selected {
  background-color: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.icon-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

:root {
  --main-color: #ffffff;
  --title-color: #ffffff;
  --main-font: "Montserrat", Arial, Helvetica, sans-serif;
  --main-bg: #000000;
  --main-fz: 24px;
  --main-fz-s: 20px;
  --container-w: 80vw;
  --container-ws: 90vw;
  --nav-color: #999999;
  --active-link-color: #0088cc;
  --button-text: #ffffff;
  --title-margin: 30px;
  --block-margin: 24px;
}

/*Basic components*/
body {
  position: relative;
  width: 100%;
  background: var(--main-bg);
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: var(--main-fz);
}

body.not-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: var(--main-fz-s);
  }
}

a {
  color: var(--title-color);
}
a:hover,
a:visited {
  color: var(--title-color);
}

.container {
  padding: 20px 0;
  max-width: var(--container-w);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--container-ws);
  }
}

.header {
  position: fixed;
  width: 100%;
  background: var(--main-bg);
  opacity: 0.8;
}

.header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--title-margin);
}

.header-logo {
  width: 30px;
  height: 30px;
}

.header-logo a img {
  width: 100%;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: var(--title-margin);
}

.header-form {
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.header-form:hover a {
  text-decoration: overline;
}

.main {
  padding-top: 90px;
}

.main-banner-wrap {
  display: flex;
}

.main-banner-title {
  margin-bottom: 30px;
}

.main-banner-title h1 {
  font-size: 60px;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

@keyframes mainTitle {
  0% {
    background-position: left 0 center;
  }

  50% {
    background-position: left 100% center;
  }

  100% {
    background-position: left 0 center;
  }
}

.main-banner-info {
  margin-bottom: var(--block-margin);
  width: 75%;
}

.main-banner-info h2 {
  margin-bottom: var(--block-margin);
}

.main-banner-form {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.main-banner-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
}

.main-banner-form a span {
  text-align: center;
}

.main-banner-form a i {
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-form i img {
  width: 100%;
}

.main-banner-text ul {
  margin-top: var(--block-margin);
}

.main-banner-text li {
  line-height: 1.5;
}

.main-banner-list ul {
  margin-bottom: var(--block-margin);
  display: flex;
  gap: var(--title-margin);
}

/*Анимированная линия*/
.line-animation-box {
  background: linear-gradient(148deg, #0779f2, #3d43c7, #791cc1);
  position: relative;
  z-index: 20;
  height: 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.line-animation-box p {
  text-align: center;
  white-space: nowrap;
  animation: moveText 8s infinite linear;
}

.double-space {
  white-space: nowrap;
  display: inline-block;
  margin-right: 30px;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.about-section {
  background-color: var(--main-color);
  color: var(--main-bg);
  padding-top: var(--title-margin);
  padding-bottom: var(--title-margin);
}

.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.about-image {
  width: 40%;
  flex: 1;
}

.about-image img {
  width: 100%;
  vertical-align: middle;
}

.about-wrap {
  width: 50%;
}

.about-wrap h2 {
  margin-bottom: var(--title-margin);
}

.about-wrap p {
  font-size: var(--main-fz-s);
  line-height: 1.5;
  margin-bottom: var(--block-margin);
}

.about-wrap h3 {
  margin-bottom: var(--block-margin);
}

.about-wrap ul {
  margin-bottom: var(--block-margin);
}

.about-wrap li {
  line-height: 1.5;
}

.portfolio-wrap {
  display: flex;
  gap: var(--title-margin);
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  animation-name: fadeInUp;
  position: relative;
  padding-top: 20px;
  height: 550px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.portfolio-info {
  width: 46%;
  line-height: 1.5;
}

.portfolio-info h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.portfolio-image {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image a {
  display: block;
  overflow: hidden;
  height: 450px;
  width: 650px;
  border-radius: 5px;
}

.portfolio-image a img {
  width: 100%;
  vertical-align: middle;
}

.portfolio-form {
  top: -30px;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse 1s infinite alternate;
}

.form-button-left {
  left: -100px;
}

.form-button-right {
  top: -40px;
  right: -100px;
}

.portfolio-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
}

.portfolio-form a span {
  text-align: center;
}

.portfolio-form a i {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-form i img {
  width: 100%;
}

.reviews {
  background: var(--main-color);
  color: var(--main-bg);
}
.reviews-wrap {
}
.reviews-image {
}
.reviews-block {
}
.reviews-info {
}
.reviews-item {
}
.reviews-text {
}
.reviews-sub {
}
.sub-m {
}
