/* Свойство для контроля переполнения потока.
Включать для нахождения элементов, которые выходят за ширину страницы
если появляется горизонтальная прокрутка на странице
*/
/* * {
  outline: solid 1px red;
} */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
*:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  /*плавная прокрутка по якорям*/
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/*Обнуление стилей*/
body {
  line-height: 1;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

img {
  vertical-align: top;
}

input,
textarea {
  font-family: inherit;
  padding: 0;
}

input:-internal-autofill-selected {
  background-color: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.icon-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

:root {
  --main-color: #ffffff;
  --title-color: #ffffff;
  --main-font: "Montserrat", Arial, Helvetica, sans-serif;
  --main-bg: #000000;
  --portfolio-bg: #0d1321;
  --main-fz: 24px;
  --main-fz-s: 16px;
  --container-w: 86vw;
  --container-ws: 94vw;
  --nav-color: #999999;
  --active-link-color: #0088cc;
  --button-text: #ffffff;
  --title-margin: 30px;
  --block-margin: 24px;
  --column-gap: 24px;
  --wrap-gap: 30px;
}

/*Basic components*/
body {
  position: relative;
  width: 100%;
  background: var(--main-bg);
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: var(--main-fz);
}

body.not-scroll {
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: var(--main-fz-s);
  }
}

a {
  color: var(--title-color);
}
a:hover,
a:visited {
  color: var(--title-color);
}

.container {
  padding: var(--block-margin) 0;
  max-width: var(--container-w);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--container-ws);
  }
}

.header {
  position: fixed;
  width: 100%;
  background: var(--main-bg);
  z-index: 1000;
  opacity: 0.8;
}

.header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--wrap-gap);
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-logo a img {
  width: 100%;
}

.header-name h3 {
  font-size: 1.4em;
  font-weight: bold;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 5px 0;
  background-size: 250vw;
  text-align: center;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: var(--wrap-gap);
}

.header-form {
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.header-form:hover a {
  text-decoration: overline;
}

@media screen and (max-width: 1280px) {
  .header-form a {
    font-size: 1.3em;
  }
}

.main {
  padding-top: 90px;
}

.main-banner {
  background: url(../image/main-banner-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main-banner-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-banner-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

.main-banner-title {
  margin-bottom: var(--title-margin);
}

.main-banner-title h1 {
  font-size: 2.4em;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 5px 0;
  background-size: 250vw;
  text-align: center;
}

@keyframes mainTitle {
  0% {
    background-position: left 0 center;
  }

  50% {
    background-position: left 100% center;
  }

  100% {
    background-position: left 0 center;
  }
}

.main-banner-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.main-banner-info h2 {
  margin-bottom: var(--title-margin);
  text-shadow: 3px -4px 5px #000000;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-technology-wrap {
  display: flex;
  margin-top: auto;
  gap: 40px;
  align-items: stretch;
  justify-content: center;
}

.main-technology-item {
  width: 25%;
  min-height: 200px;
  padding: var(--wrap-gap);
  background: linear-gradient(148deg, rgb(7, 121, 242), #3d43c7, #791cc1);
  border-radius: 10px;
}

.main-technology-item h4 {
  color: var(--main-bg);
  margin-bottom: var(--block-margin);
}

.main-technology-item ul li {
  font-size: 0.9em;
  line-height: 1.5;
}

.main-banner-form {
  position: absolute;
  right: 60px;
  top: 130px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.main-banner-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
}

.main-banner-form a span {
  text-align: center;
}

.main-banner-form a i {
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-form i img {
  width: 100%;
}

/*Анимированная линия*/
.line-animation-box {
  background: linear-gradient(148deg, #0779f2, #3d43c7, #791cc1);
  position: relative;
  z-index: 20;
  height: 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.line-animation-box p {
  text-align: center;
  white-space: nowrap;
  padding: 24px 0;
}

.double-space {
  white-space: nowrap;
  display: inline-block;
  margin: 0 30px;
}

.text1 {
  animation: textMove1 80s infinite linear;
  animation-delay: -80s;
}

.text2 {
  animation: textMove2 80s infinite linear;
  animation-delay: -40s;
}

@keyframes textMove1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes textMove2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.about-section {
  padding-top: var(--title-margin);
  padding-bottom: var(--title-margin);
  background-image: url(../image/vecteezy_cyber-network-protection-future-technology-background_.jpg);
}

.about-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.about-wrap {
  width: 40%;
}

.about-wrap h2 {
  margin-bottom: var(--title-margin);
  font-size: 2.6em;
  font-weight: bold;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.about-wrap p {
  line-height: 1.2;
  margin-bottom: var(--block-margin);
  text-shadow: 3px -2px 5px #000000;
}

.about-wrap h3 {
  margin-bottom: var(--block-margin);
}

.about-wrap ul {
  margin-bottom: var(--block-margin);
}

.about-wrap li {
  line-height: 1.5;
}

.portfolio-section {
  background-color: var(--portfolio-bg);
}

.portfolio-section h2 {
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.portfolio-wrap {
  display: flex;
  gap: var(--wrap-gap);
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  animation-name: fadeInUp;
  position: relative;
  padding-top: 20px;
  min-height: 650px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.portfolio-info {
  width: calc(100% - 800px);
  line-height: 1.5;
}

.portfolio-info h3 {
  font-size: 2em;
  font-weight: bold;
  background-image: url(../image/bg-font-line.webp);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left center;
  animation: mainTitle 20s linear infinite;
  padding: 0;
  background-size: 250vw;
}

.portfolio-image {
  width: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 800px;
  position: relative;
}

.portfolio-image a.desktop-image {
  border: 6px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.portfolio-image a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.portfolio-image a.mobile-image {
  position: absolute;
  background-color: #fff;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  top: -80px;
  right: -50px;
  border: 6px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.portfolio-image a.mobile-image.mobile-image-left {
  left: -50px;
}

@media screen and (max-width: 1280px) {
  .portfolio-info {
    width: calc(100% - 600px);
  }
  .portfolio-wrap {
    min-height: 500px;
  }
  .portfolio-image {
    width: 600px;
  }
  .portfolio-image a {
    width: 540px;
  }
  .portfolio-image a.mobile-image {
    width: 180px;
    right: -10px;
  }
  .portfolio-image a.mobile-image.mobile-image-left {
    left: -10px;
  }
}

@media screen and (max-width: 950px) {
  .portfolio-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
  }

  .portfolio-info {
    width: 540px;
  }

  .text-right {
    text-align: right;
  }

  .portfolio-image {
    width: 100%;
    text-align: center;
    order: -1;
    min-height: 360px;
  }
  .portfolio-image a.mobile-image {
    top: 60px;
    right: 120px;
  }
  .portfolio-image a.mobile-image.mobile-image-left {
    left: 120px;
  }
}

.portfolio-form {
  top: -70px;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse 1s infinite alternate;
}

.form-button-left {
  left: -100px;
}

.form-button-right {
  right: -100px;
}

.portfolio-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
}

.portfolio-form a span {
  text-align: center;
}

.portfolio-form a i {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-form i img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .portfolio-form a span {
    font-size: 1.3em;
  }
  .form-button-left {
    left: -80px;
  }
  .form-button-right {
    right: -80px;
  }
}

@media screen and (max-width: 950px) {
  .portfolio-form a span {
    font-size: 1.3em;
  }

  .portfolio-form {
    top: -10px;
  }

  .form-button-left {
    left: 40;
  }

  .form-button-right {
    right: 80px;
  }
}

.footer-container {
  padding: 40px 0;
  display: flex;
  gap: var(--wrap-gap);
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-list img {
  height: 30px;
  width: auto;
}

img.upwork-icon {
  height: 40px;
}

.whatsapp-icon {
  margin-right: -8px;
}
